{% load staticfiles %}
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item {% if request.resolver_match.url_name == 'index' %} active {% endif %} "><a href="{% url 'index' %}"><i class="la la-home"></i><span class="menu-title" data-i18n="">Dashboard</span><span class="badge badge badge-info badge-pill float-right mr-2">1</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-rocket"></i><span class="menu-title" data-i18n="">Menu Item 1</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">Item 1</a>
                    </li>
                    <li><a class="menu-item" href="#">Item 2</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="#">Sub Item of Item 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-file"></i><span class="menu-title" data-i18n="">Menu Item 2</span><span class="badge badge badge-pill badge-danger float-right">1.0</span></a>
            </li>
            <li class=" navigation-header"><span>Support</span><i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Support"></i>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-file-code-o"></i><span class="menu-title" data-i18n="">For Developers</span></a>
                <ul class="menu-content">
                    <li class=" nav-item {% if request.resolver_match.url_name == 'api_access' %} active {% endif %} "><a href="{% url 'api_access' %}"><i class="la la-file-code-o"></i><span class="menu-title" data-i18n="">API Access</span></a>
                    </li>
                    <li class=" nav-item {% if request.resolver_match.url_name == 'api_index' %} active {% endif %} "><a href="{% url 'api_index' %}"><i class="la la-file-code-o"></i><span class="menu-title" data-i18n="">API Index</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>