{% extends "../sectors/base.html" %} 
{% load staticfiles %} 

{% block title %}{{ data.page_title }}{% endblock title %} 

{% block styles %}
<!-- Custom Style Imports Go Here -->
{% endblock styles %} 

{% block content %}
<!-- START Content -->
{% include "sectors/header.html" %} {% include "sectors/sidebar.html" %}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">{{ data.page_title }}</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">{{ data.page_title }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="row">
              {% for indicator in data.indicators %}
                    <div class="col-md-6 col-sm-12">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title"><b>{{ indicator.name }}</b></h4>
                          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                          <div class="heading-elements">
                            <ul class="list-inline mb-0">
                              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-content collapse show">
                          <div class="card-body">
                              <div class="table-responsive">
                                <table class="table mb-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row" class="border-top-0">ID</th>
                                      <td class="border-top-0" style="text-transform: uppercase;">{{ indicator.my_id }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Description</th>
                                      <td>{{ indicator.description }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Type</th>
                                      {% if indicator.local %}
                                        <td>{{ indicator.local  }}</td>
                                      {% else %}
                                        {% if indicator.proportional %}
                                        <td>Higher value means higher development</td>
                                        {% else %}
                                        <td>Higher value means lower development</td>
                                        {% endif%}
                                      {% endif %}
                                    </tr>
                                    <tr>
                                      <th scope="row">Source</th>
                                      <td>{{ indicator.source }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="text-center" style="margin-top:2%;">
                                <a href="{{ data.url }}/api/{{ indicator.my_id }}/2015" target="_blank" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" data-original-title="API of 2015 Data">Get API</a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
{% include "sectors/footer.html" %}
<!-- END Content -->
{% endblock content %} 

{% block scripts %}
<!-- Custom Script Imports Go Here -->
{% endblock scripts %}